{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'pets/style.css' %}">
    <title>Pawfinder</title>
</head>

<body>
<nav class="navbar">
    <a href="{% url 'animal_list' %}" class="brand">🐾 Pawfinder</a>
    <div class="nav-links">
        <a href="{% url 'animal_list' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>